$color-white: #ffffff;
$color-darg-grey: #333333;
$color-darg-blue: #264056;
$color-light-blue: #437D98;
$color-white-transparent: rgba(255, 255, 255, 0.75);

$break-sm: 768px;

$font-family-press-start: 'press_start_2pregular', sans-serif;